@use "sass:color";

$colors: (
	primary  : #830800,
	secondary: #000000,
	third    : #eeeeee,
	fourth   : #ffffff,
	five     : #7a97ab
);

:root {
	@each $name, $color in $colors {
		--#{$name}: #{$color};
		--#{$name}-darken-5: #{color.adjust($color, $lightness: -5%)};
		--#{$name}-darken-8: #{color.adjust($color, $lightness: -8%)};
		--#{$name}-darken-10: #{color.adjust($color, $lightness: -10%)};
		--#{$name}-darken-13: #{color.adjust($color, $lightness: -13%)};
		--#{$name}-lighten-2: #{color.adjust($color, $lightness: 2%)};
		--#{$name}-lighten-5: #{color.adjust($color, $lightness: 5%)};
		--#{$name}-lighten-10: #{color.adjust($color, $lightness: 10%)};
		--#{$name}-lighten-20: #{color.adjust($color, $lightness: 20%)};
		--#{$name}-lighten-30: #{color.adjust($color, $lightness: 30%)};
	}

	--layoutBackground : var(--third);
	--elementBackground : var(--fourth);
	// --error : var(--third);
	// --success : var(--fourth);

	/*----------  Blind Color  ----------*/
	--blindBackgroundBW: var(--third);
	--blindColorBW: var(--fourth);

	--blindBackgroundWB: var(--fourth);
	--blindColorWB: var(--third);

	--blindBackgroundCW: #0099CC;
	--blindColorCW: var(--third);

	--blindBackgroundYB: #FFCC33;
	--blindColorYB: var(--third);
}