@use 'breakpoints' as bp;

/*=============================
=            Fonts            =
=============================*/
:root {
	--primary-font      : Helvetica, sans-serif;
	--heading-font      : 'Oswald', sans-serif;
	--heading-font-light: 'Oswald', sans-serif;

	--fa-font-path: 'fonts/';

	--body-font-color: lighten($third, 10%);

	--body-font-size     : 1rem;
	--body-font-weight   : normal;
	--body-line-height   : 1.4;
	--heading-line-height: 1;

	--font-size-base:    var(--body-font-size);
	--font-size-large:   calc(var(--font-size-base) + (var(--font-size-base) / 5)); // ~18px
	--font-size-small:   calc(var(--font-size-base) - (var(--font-size-base) / 5)); // ~14px--
	--font-size-h1:      calc(var(--font-size-base) + 2vmax); // ~3rem 48px modular-scale(6)
	--font-size-h2:      calc(var(--font-size-base) + 1.5vmax); // ~2.5rem 40px modular-scale(5)
	--font-size-h3:      calc(var(--font-size-base) + 1vmax); // ~2rem 33px
	--font-size-h4:      calc(var(--font-size-base) + 0.7vmax); // ~1.728rem 28px
	--font-size-h5:      calc(var(--font-size-base) + 0.5vmax); // ~1.44rem 23px
	--font-size-h6:      calc(var(--font-size-base) + 0.3vmax); // ~1.2rem 19px
}

@mixin px($size: base) {
	font-family: var(--primary-font);
	font-weight: var(--body-font-weight);
	line-height: var(--body-line-height);
	color: var(--body-font-color);

	@if $size == base {
		font-size: var(--font-size-base);
	} @else if $size == large {
		font-size: var(--font-size-large);
	} @else if $size == small {
		font-size: var(--font-size-small);
	}
}

@mixin hx($size) {
	font: {
		family: var(--heading-font);
		weight: 400;
	};
	color: var(--secondary);
	display: block;
	line-height: var(--heading-line-height);
	margin-top: 0;
	// margin-bottom: -(var(--border_thin));

	@if $size == h1 {
		font-size: var(--font-size-h1);
	} @else if $size == h2 {
		font-size: var(--font-size-h2);
	} @else if $size == h3 {
		font-size: var(--font-size-h3);
	} @else if $size == h4 {
		font-size: var(--font-size-h4);
	} @else if $size == h5 {
		font-size: var(--font-size-h5);
	} @else if $size == h6 {
		font-size: var(--font-size-h6);
	}
}

h1 {
	@include hx(h1);
}

h2 {
	@include hx(h2);
}

h3 {
	@include hx(h3);
}

h4 {
	@include hx(h4);
}

h5 {
	@include hx(h5);
}

h6 {
	@include hx(h6);
}


ul {
	margin: 0;
	padding: 0;
	list-style: none;

	// li {

	//     @include grid-media($Medium) {
	//         font-size: var(--font-size-large;
	//     }
	// }
}

a {
	color: var(--secondary);
	text-decoration: none;
	transition: all var(--base-duration);
	outline: none;

	// &:active,
	// &:focus,
	// &:hover {
	//     //color: $action-color;
	// }
}