/*=============================
=            Fonts            =
=============================*/

// @include font-face (
//     "fontawesome-webfont",
//     "webfonts/fontawesome-webfont/fontawesome-webfont",
//     ("eot", "woff", "ttf", "svg")
//     ) {
//     font-style: normal;
//     font-weight: 400;
// }

// @font-face {
//     font-family: 'icomoon';
//     src: url('webfonts/icomoon/icomoon.eot?jqd5bq');
//     src: url('webfonts/icomoon/icomoon.eot?jqd5bq#iefix') format('embedded-opentype'),
//         url('webfonts/icomoon/icomoon.ttf?jqd5bq') format('truetype'),
//         url('webfonts/icomoon/icomoon.woff?jqd5bq') format('woff'),
//         url('webfonts/icomoon/icomoon.svg?jqd5bq#icomoon') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'icomoon-free';
//     src: url('webfonts/icomoon/IcoMoon-Free.ttf?jqd5bq') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

@import url('https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic');
// @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
// @import url('https://use.fontawesome.com/releases/v5.10.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&subset=cyrillic');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$primary-font      : $font-stack-helvetica;
$heading-font      : 'Oswald', sans-serif;
$heading-font-light: 'Oswald', sans-serif;

$fa-font-path: 'webfonts/';

$body-font-color: lighten($third, 10%);

$body-font-size     : 1rem !default;
$body-font-weight   : normal !default;
$body-line-height   : 1.4 !default;
$heading-line-height: 1 !default;

$heading-font-modular : 1rem !default;

$bourbon: (
	"modular-scale-base": $heading-font-modular,
	"modular-scale-ratio": $major-second //$major-second
);

$font-size-base:    $body-font-size !default;
$font-size-large:   $font-size-base + 0.2 !default; // ~18px
$font-size-small:   $font-size-base - 0.2 !default; // ~14px

$font-size-h1:      calc(1rem + 1.1vmax) !default; // ~3rem 48px modular-scale(6)
$font-size-h2:      calc(1rem + 0.9vmax) !default; // ~2.5rem 40px modular-scale(5)
$font-size-h3:      calc(1rem + 0.7vmax) !default; // ~2rem 33px
$font-size-h4:      calc(1rem + 0.15vmax) !default; // ~1.728rem 28px
$font-size-h5:      calc(1rem + 0.13vmax) !default; // ~1.44rem 23px
$font-size-h6:      calc(1rem + 0.1vmax) !default; // ~1.2rem 19px
/*=====  End of Fonts  ======*/