.header {
	width: 100vw;
	height: $headerHeight;
	display: flex;
	flex-direction: row;
	background-color: darken($third, 5%);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1010;
	overflow: hidden;

	&__logo {
		width: calc(#{$headerHeight} / #{$headerLogoAmount} - (#{$headerLogoPadding} * 2));
		height: calc(#{$headerHeight} / #{$headerLogoAmount} - (#{$headerLogoPadding} * 2));
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: calc(#{$headerHeight} - ((#{$headerHeight} / #{$headerLogoAmount})));
		left: calc(#{$headerHeight} - ((#{$headerHeight} / #{$headerLogoAmount})));
		background-color: $third;
		padding: $headerLogoPadding;

		a {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				object-position: center;
			}
		}
	}
}