@use 'breakpoints' as bp;
@use "sass:color";
@use 'fonts' as *;

body {
    @include px(base);
    margin: 0;
    background-color: var(--layoutBackground);

    @include bp.media-up('XLarge') {
        @include px(large);
        font-stretch: $font-width-extended;

        i {
            @include px(large);
        }
    }

    @include bp.media-up('Large') {
        @include px(base);

        i {
            @include px(base);
        }
    }

    @include bp.media-up('Medium') {
        @include px(large);
        font-stretch: $font-width-normal;
        // font-weight: $font-weight-medium;

        i {
            @include px(base);
        }
    }
}

.wrapper {
    width: calc(100% - (var(--header-height) * 3));
    min-height: 100vh;
    display: block;
    padding: calc(var(--header-height) * 1.5);
    overflow: hidden;

    &__inside {
        width: 100%;
        min-height: 100vh;
        display: block;
        overflow: hidden;
        // background-color: var(--fourth);
    }
}

.main-content {

    &__top {
        width: 100%;
        min-height: 7vmax;
        height: 7vmax;
        margin-bottom: 2rem;
    }

    @include bp.media-up('Medium') {
        &__top {
            height: inherit;
        }
    }
}


