/*================================
=            Variable            =
================================*/

$border_thin: 0.07rem;
$border_normal: 0.15rem;
$border_bold: 0.3rem;
$border_heavy: 0.6rem;

$base-duration: 0.2s;
$base-timing: 0.3s;

$marginVert: 1rem;

/*----------  Header  ----------*/
$headerHeight: 7vmax;
$headerLogoAmount: 1.2;
$headerLogoPadding: 0.7vmax;

/*----------  Header Mobile  ----------*/


/*----------  Nav  ----------*/


/*----------  Footer  ----------*/


/*----------  Layout  ----------*/


$paddingMobile: 1rem;

/*----------  News  ----------*/
$newsLinkWidth: 30%;

/*----------  Contact  ----------*/
$inputHeight: 2rem;

/*=====  End of Variable  ======*/

/*==============================
=            Layout            =
==============================*/

// %scrollbar_body {
//     &::-webkit-scrollbar-track {
//         background-color: transparent;
//     }

//     &::-webkit-scrollbar {
//         width: 6px;
//         background: transparent;

//         // &::window-inactive {

//         // }

//     }

//     &::-webkit-scrollbar-thumb {
//         background-color: lighten($secondary, 60%);

//         &:window-inactive {
//             background-color: #fff;
//         }
//     }
// }

// %scrollbar_sidebar {
//     &::-webkit-scrollbar-track {
//         background-color: transparent;
//     }

//     &::-webkit-scrollbar {
//         width: 4px;
//         background: transparent;

//     }

//     &::-webkit-scrollbar-thumb {
//         background-color: lighten($secondary, 70%);
//         //border: 2px solid #555555;

//         &:window-inactive {
//             opacity: 0;
//         }
//     }
// }

%px {
    font: {
        family: $primary-font;
        weight: $body-font-weight;
        size: $font-size-base;
    };
    line-height: $body-line-height;
    color: $body-font-color;
    //text-indent: 1rem;

    i {
        font-size: $font-size-small;
    }

    strong {
        color: $secondary;
    }

    @include grid-media($XXLarge) {
        font-size: $font-size-large;

        i {
            font-size: $font-size-base;
        }
    }

    @include grid-media($XLarge) {
        font-size: $font-size-base;

        i {
            font-size: $font-size-small;
        }
    }

    @include grid-media($Medium) {
        font-size: $font-size-base;
    }

    // @include grid-media($XSmall) {
    //     font-size: $font-size-large;
    // }

    @include grid-media($Small) {
        font-size: $font-size-large;
    }
}

%hx {
    font: {
        family: $heading-font;
        weight: 400;
    };
    //letter-spacing: 0.04em;
    line-height: $heading-line-height;
    // text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: calc(#{$marginVert} / 4);
}

body {
    @extend %px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    margin: 0;
    background-color: $layoutBackground;
    // @extend %scrollbar_body;
}

h1 {
    @extend %hx;
    font-size: $font-size-h1;
    font-weight: 400;
    color: $secondary;
    display: inline-block;
    border-bottom: $border_bold solid $secondary;
    margin-bottom: -$border_thin;

    // @include grid-media($XSmall) {
    //     font-size: 8vw;
    // }
}

h2 {
    @extend %hx;
    font-size: $font-size-h2;
    color: $secondary;
    // width: 100%;
    display: inline-block;
    border-bottom: $border_bold solid $secondary;
    margin-bottom: -$border_thin;

    // @include grid-media($XSmall) {
    //     font-size: 7vw;
    // }
}

h3 {
    @extend %hx;
    font-size: $font-size-h3;
    color: $secondary;
    // width: 100%;
    display: inline-block;
    // border-bottom: $border_normal solid $secondary;
    margin-bottom: calc(#{$marginVert} / 3);
    margin-top: calc(#{$marginVert} / 2);

    // @include grid-media($Small) {
    //     font-size: 6vw;
    // }
}

h4 {
    @extend %hx;
    font-size: $font-size-h4;
    color: $secondary;

    @include grid-media($XXLarge) {
        font-size: calc(#{$font-size-base} + 0.4vmax);
    }

    @include grid-media($XLarge) {
        font-size: $font-size-h4;
    }

    @include grid-media($XLarge) {
        font-size: $font-size-h4;
    }
}

h5 {
    @extend %hx;
    font-size: $font-size-h5;
    color: $secondary;
}

h6 {
    @extend %hx;
    font-size: $font-size-h6;
    color: $secondary;
}

.large-text {
    font-size: $font-size-large;
}

.small-text {
    font-size: $font-size-small;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;

    // li {

    //     @include grid-media($Medium) {
    //         font-size: $font-size-large;
    //     }
    // }
}

a {
    color: $secondary;
    text-decoration: none;
    transition: all $base-duration;
    outline: none;

    // &:active,
    // &:focus,
    // &:hover {
    //     //color: $action-color;
    // }
}

button {
    transition: all $base-duration;
}

i {
    transition: all $base-duration;
}

svg {
    transition: all 0.3s;
}

%input {
    outline: none;
    margin-bottom: 1rem;
    font-family: $primary-font;
    font-size: $font-size-base;
    // text-align: center;
    border: 0.15rem solid $primary;
    border-radius: 0;
    background-color: transparent;
    color: $secondary;
    transition: all 0.3s;
    // -webkit-appearance: none;

    &:focus {
        background-color: $fourth;
        border-color: $secondary;
    }

    &:focus::-webkit-input-placeholder {
        opacity: 0;
        transition: all 0.3s;
    }

    &:focus::-moz-placeholder {
        opacity: 0;
        transition: all 0.3s;
    }

    &:focus::-ms-input-placeholder {
        opacity: 0;
        transition: all 0.3s;
    }

    &::-webkit-input-placeholder {
        /* WebKit browsers */
        color: $secondary;
    }

    &::-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: $secondary;
        opacity: 1;
    }

    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: $secondary;
        opacity: 1;
    }

    &::-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: $secondary;
    }
}

select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    // Additional resets for further consistency
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}
/*=====  End of Layout  ======*/

